#title {
    float: left; /*puts website title to left*/
    padding: 0;
}

#navigation {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    top: 0;
    right: 0;
    text-transform: uppercase;
    font-size: 12px;
}

#navigation li {
    float: right;
    display: block;
    margin: 0;
    
}

#navigation li a {
    display: block;
    color: gray;
    text-align: center;
    padding: 40px 20px; /* Adjusted padding to match the website title */
    text-decoration: none;

}

#top {
    margin-bottom: 0;
    padding-bottom: 0;
}

body header h2 {
    text-align: center;
    color:maroon;
    text-decoration-line: underline;
    font-style: italic;
    font-weight: normal; /*unemphasized page titles*/
    letter-spacing: 2px;
    text-underline-offset: 4px; /* Adjust the space between text and underline */
}

#carImage {
    margin-top: 0;
    padding-top: 0;
}

/*ABOUT US page*/
#aboutUsBody {
    width: 200px;
    margin: 0 auto;
    text-align: center;
}

#founderContent {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: start; /*center vertically*/
}

#founderImage {
    position: relative;
    flex: 0 0 auto; /* Don't grow, don't shrink */ 
    width: 300px;
}
    
#founderLabel {
    /*flex: 0 0 auto; /* Don't grow, don't shrink */
    color: black;
    position: relative;
    top: 0;
    left: 0;
    margin-left: 0;
    margin-top: 0;
}

/*OUR BASE MODELS page*/
.brand {
    padding-left: 50px;
    position: relative;
    margin-left: 130px;
    margin-right: 50px;
    margin-top: 60px; /*space between start design button and new section*/
}

.brand a {
    color: black;
    font-weight: lighter;
    text-decoration: overline underline;
    text-underline-offset: 6px; /* Adjust the space between text and underline */
}

.brand a:hover {
    color: maroon;
}

.carContent {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    flex: 0 0 auto; /* Don't grow, don't shrink */
}

.carVisual {
    color: rgb(183, 182, 182);
    text-align: center; /*center labels underneath pictures within container*/
    float: left; /*float container to left side of content container*/
    flex: 0 0 ;
    margin-right: 15px;/*gives a little space between image and words*/
    margin-top: 20px; /*aligns top of picture with top of text*/
}

.carDescription {
    text-align: left;
    float: right;
    width: 350px;
    flex: 0 0 auto; /* Don't grow, don't shrink */
}

/*container to center button in page*/
.buttonContainer {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}
/*text and appearance of button*/
.startButton {
    background-color: black;
    color: rgb(160, 3, 3);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); /*Shadow behind the button*/
}
/*Button hover effect*/
.startButton:hover {
    transform: translateY(2px); /*Shift the button downward by 2px*/
}
/*Button click effect*/
.startButton:active {
    transform: translateY(4px); /*Shift the button downward by 4px when clicked*/
}

/* START YOUR DESIGN page */
#startDesignHeader {
    text-align: center;
    letter-spacing: 10px;
    font-style: normal;
}

main section form h3 {
    background-color: black;
    color: maroon;
    padding-left: 50px; /*words offset from edge of container*/
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 0;
    margin-bottom: 0;
}

main section form p {
    margin-top: 0;
    padding-top: 0;
    color: maroon;
    padding-left: 50px;
}

.options {
    padding-left: 85px; /*offsetting car options from edge of container*/
    margin-top: 15px;
}

#submitButtonContainer {
    display: flex;
    justify-content: center;
}

#submitButton {
    background-color: black;
    color: maroon;
    text-align: center;
    padding: 10px 20px;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

#submitButton:hover {
    transform: translateY(2px); /*Shift the button downward by 2px*/
}
/*Button click effect*/
#submitButton:active {
    transform: translateY(4px); /*Shift the button downward by 4px when clicked*/
}

#bannerContainer {
    justify-content: center;
    display: flex;
    font-style: italic;
    font-weight: 100;
    margin-top: 10px;
}

#estimateContainer {
    background-color: lightgray;
    padding: 5px 8px;
    margin-left: 8px;
}

#feedbackContainer {
    background-color: rgb(133, 131, 131);
    padding: 2px 0 20px 10px;
    font-size:x-large;
    font-weight: bolder;
}

#nameNum {
    display: flex;
    justify-content: left;
}

#feedbackSubmit {
    position: relative;
}

#feedbackButton {
    position: absolute;
    bottom: 0; /* Align the button to the bottom */
    right: 10px; /* Align the button to the right */
    background-color: black;
    color: maroon;
    text-align: center;
    padding: 5px 15px;
    font-weight: bold;
    font-size: 15px;
}
#feedbackButton:hover {
    transform: translateY(2px);
}
#feedbackButton:active {
    transform: translateY(4px);
}

/* footer content */
#footer {
    position: relative; /*puts at bottom of main section*/
    bottom: 0;
}

#tagline { /*subject: YOUR RIDE YOUR WAY style*/
    color: maroon;
    font-style: italic;
    text-align: center;
}

#contact {
    color: rgb(91, 86, 86); 
    text-decoration: none;
}

/* Styling email links */
a[href^="mailto:"] {
    color: inherit; /* Inherit the color of its parent */
    text-decoration: none; /* Remove underline */
}

/* Styling phone links */
a[href^="tel:"] {
    color: inherit; /* Inherit the color of its parent */
    text-decoration: none; /* Remove underline */
}
 
/*making tel and email change when hovered over*/
a[href^="mailto:"]:hover, a[href^="tel:"]:hover {
    color: maroon;
    text-decoration: underline;
}

#copyright {
    color: rgb(174, 166, 166); 
    text-align: right; /*putting the nav tabs to the right*/
}
